
$main-color: #b6b0a9;
$dark-color: #5E5B3A;

$button-effect: scale(1.1, 1.1);

$home-padding: 64px 46px;
$home-margin: 90px 610px 128px 610px;
$main-padding: 32px 46px;
$main-margin: 30px 610px 128px 610px;


